* {
    font-family: Helvetica;
}

.title {
    background-color: teal;
    color: #fff;
    text-align: center;
    font-size: 32px;
    padding: 5px;
    border-radius: 3px;
}

ul {
    background-color: #ebebfa;
    border-radius: 3px;
    border: 2px solid #dadada;
}

.recipe-list {
    list-style: none;
    padding: 10px 0;
}

.recipe-list a {
    text-decoration: none;
    color: darkorange;
}

/* CSS for recipe webpages */

.recipe-name {
    background-color: teal;
    color: #fff;
    text-align: center;
    font-size: 32px;
    padding: 5px;
    border-radius: 3px;
}

.recipe-img {
    margin: 0 500px;
    height: auto;
    width: 500px;
}

h2 {
    background-color: #c16d07d7;
    color: #fff;
    width: 150px;
    text-align: center;
    font-size: 22px;
    border-radius: 5px;
    padding: 5px 15px;
    margin: 30px 0 0 0;
}

.recipe-description {
    background-color: #ebebfa;
    color: #3a424a;
    text-align: justify;
    padding: 5px 10px;
    border-radius: 3px;
    border: 2px solid #dadada;
}

.recipe-ingredient, .recipe-step {
    background-color: #ebebfa;
    color: #3a424a;
    width: 600px;
    border-radius: 3px;
    border: 2px solid #dadada;
}

.recipe-ingredient li {
    list-style: square;
    padding: 8px 15px 8px 0;
}

.recipe-step li {
    padding: 8px 15px 8px 0;
    text-align: justify;
}